<footer role="footer">
  <!-- logo -->
  <h1>
    <a href="/" title="napoano365">
      <%= image_tag("logo.png", title: "napoano365", alt: "napoano365", size: '140x36') %>
    </a>
  </h1>
  <!-- logo -->

  <!-- nav -->
  <nav role="footer-nav">
    <ul>
      <li>
        <%= link_to(root_url, title: 'Work') do %>Work
        <% end %>
      </li>
      <li>
        <%= link_to(about_url, title: 'About') do %>About
        <% end %>
      </li>
      <li>
        <%= link_to(blogs_url, title: 'Blog') do %>Blog
        <% end %>
      </li>
      <li>
        <%= link_to(new_contact_url, title: 'Contact') do %>Contact
        <% end %>
      </li>
    </ul>
  </nav>
  <!-- nav -->
  <ul role="social-icons">
    <li>
      <a href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-flickr" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <p class="copy-right">&copy; 2019 napoano365</p>
</footer>
