<!-- header -->
<header role="header">
  <div class="container">
    <!-- logo -->
    <h1>
      <a href="/" title="avana LLC">
        <%= image_tag("logo.png",title: "avana LLC", alt: "avana LLC") %>
      </a>
    </h1>
    <!-- nav -->
    <nav role="header-nav" class="navy">
      <ul>
        <li class="nav-active">
          <%= link_to(root_url, title: 'Work') do %>Work
          <% end %>
        </li>
        <li>
          <%= link_to(about_url, title: 'About') do %>About
          <% end %>
        </li>
        <li>
          <%= link_to(blogs_url, title: 'Blog') do %>Blog
          <% end %>
        </li>
        <li>
          <%= link_to(new_contact_url, title: 'Contact') do %>Contact
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- nav -->
  </div>
</header>
<!-- header -->
